html, body, #map {
    width: 100%; height: 100%; padding: 0; margin: 0;
}

body {
  font-family: sans-serif;
  margin: auto;
  max-width: 99%;
  max-height: 97%;
}

.navbar {
  background-color: #313236;
  border-radius: 2px;
  max-width: 800px;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

.panel {
    z-index: 2;
    top: -13px;
    border-width: 3px;
    padding: 15px 30px;
    border-radius: 5px;
    box-shadow: 20px 0 10px -10px rgba(0, 0, 0, .15), -20px 0 10px -10px rgba(0, 0, 0, .15);
    background-color: #eee;
    display: inline-block;
    vertical-align: top;
    margin: 5pt;
    /*-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 20px 0 10px -10px rgba(0, 0, 0, .15), -20px 0 10px -10px rgba(0, 0, 0, .15);
    -webkit-box-shadow: 20px 0 10px -10px rgba(0, 0, 0, .15), -20px 0 10px -10px rgba(0, 0, 0, .15);*/
}
