<% var data = {
title: "2gis | 100 meter raid"
}; %>
<%= _.template(require('./../includes/header.html'))(data) %>
<body>
    <script src="https://maps.api.2gis.ru/2.0/loader.js?pkg=full" data-id="dgLoader"></script>
    <script src="<%= htmlWebpackPlugin.files.chunks.dGis.entry %>"></script>

        <div class="panel">
            <p>
                Чтобы увидеть метки, приблизьте город на достаточное расстояние.<br/>
                По закону 100м. нужно считать от границы обр. учреждения,<br/>
                но данных о границах нет, только точка (центр).<br/>
                Красные - метки, точно попадающие в стометровку.<br/>
                Желтые - 150м. от центра, могут попадать в 100м. от границы.<br/>
                Зелёные - скорее всего не попадающие под ограничения.<br/>
            </p>
        </div>
		<div class="panel" id="raidRoute">
            <p>
                Нажимая на метки правой кнопкой мыши, <br/>
                вы можете выделить их, а затем нажать <br/>
                на кнопку "создать маршрут" - сформируется ссылка,<br/>
                которую вы можете отправить на телефон. <br/>
                При переходе по ней будут отображаться только <br/>
                те метки, которые были выделены. <br/>
            </p>
            <input id="btnMain" type="button" value="Создать маршрут" /> <br/>
		</div>
		<div id="map"></div>
	</body>
</html>