<% var data = {
title: "Главная | 100 meter raid"
}; %>
<%= _.template(require('./../includes/header.html'))(data) %>
  <body>
    <div class="navbar">
      <a href="2gis-100-meter-raid.html">Версия на 2gis (актуальная)</a>
      <a href="Ymaps.html">Версия на Яндекс.Картах (не поддерживается)</a>
    </div>

    <h1>Hello World!</h1>

    <p>
      Здесь размещены вспомогательные инструменты для проведения рейдов 
      по контролиованию выполнения закона "о табачной стометровке"
    </p>
    <p>
        Вспомогательные ресурсы: <br/>
      <a href="https://vk.com/akzakon">ВК группа основной движухи</a> <br/>
      <a href="https://akzakon.livejournal.com/">Журнал основной движухи с необходимой информацией</a>
    </p>
  </body>
</html>

