<% var data = {
title: "Яндекс.Карты | 100 meter raid"
}; %>
<%= _.template(require('./../includes/header.html'))(data) %>
<body>
    <!-- Если вы используете API локально, то в URL ресурса необходимо указывать протокол в стандартном виде (http://...)-->
    <script type="text/javascript" src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&apikey=83c75782-7912-4221-8cc8-334864abeedf"></script>
    <script src="<%= htmlWebpackPlugin.files.chunks.ymaps.entry %>"></script>
    <div id="map"></div>
</body>
</html>
